---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>

      {% if page.tags %}
      <div class="tags">
        <h1></h1>
        <hr style="width:100%;text-align:left;margin-left:0">
        <hr style="width:100%;text-align:left;margin-left:0">
        <p><img src="/assets/images/site/tags.png" alt="Tags" width="20px">
        <ul class="taxonomy-indexutk">
          {% for tag in page.tags %}
          <a href="/tags/#{{tag}}">
            <strong>{{ tag }}</strong>
          </a>
          {% endfor %}
        </ul></p>
      </div>
      {% endif %}

      {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
      {% endif %}
    </article>
  </div>
</main>