$highlight-background   :#343746;
$highlight-foreground   :#F8F8F2;
$highlight-comment      :#5F6F9E;
$highlight-red          :#ff5555;
$highlight-orange       :#ffb86c;
$highlight-yellow       :#effa7b;
$highlight-green        :#52fc7f;
$highlight-aqua         :#8be9fd;
$highlight-blue         :#ff79c6;
$highlight-purple       :#B38CEC;